* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul ol li {
    font-style: normal;
    text-decoration: none;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    gap: 10%;
}

path {
    fill: #ECCEA7;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
    transition: .3s;
}

path:hover {
    fill: #FA9E27;
}

.cria-card {
    min-width: 400px;
    min-height: 700px;
    background-color: #F5E7D3;
}

.cria-header {
    display: flex;
}

.sigla {
    display: flex;
    height: 100px;
    width: 100px;
    color: #fff;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #FA9E27;
    border-radius: 50%;
    border: #fff 5px solid;
    margin: 30px;
}

.dados-header {
    padding: 30px;
}


p{
    font-weight: bold;
}

.nome-estado {
    font-size: 2.5rem;
    color: #FA9E27;
}

.capital-estado {
    font-size: 1rem;
    font-weight: normal;
}

.regiao-estado {
    font-size: 1rem;
    font-weight: normal;
}

.lista-cidades{
    margin: 35px;
}

.lista-cidades ul{
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50% 50%;
    font-size: 15px;
}